{% comment %}
  Renders a product grid card

  Accepts:
  - card_product: {Object} Product object

  Usage:
  {%-
    render 'card-product-grid',
      card_index: 1,
      card_product: block.settings.product
  -%}
{% endcomment %}

{%- liquid
  assign snippet_name = 'card-product-placeholder'
  assign snippet_classes = snippet_name
  assign snippet_id = snippet_name | append: '--' | append: card_index
-%}

<article class="{{ snippet_classes }}">
  <div class="{{ snippet_name }}__media">
    <img class="{{ snippet_name }}__image lazyload-item lazyload js--product-image-placeholder" src="" alt="Fallback Image" width="" height="" />
  </div>
</article>
