{% if modal_id and modal_id != blank %}

  {%- liquid

    assign snippet_name = 'product-image-gallery-modal-trigger'
    assign snippet_classes = snippet_name

    if badge_classes != blank
      assign snippet_classes = badge_classes
    endif

  -%}

  <button
    class='{{ snippet_classes }} button'
    data-bs-target='#{{ modal_id }}'
    data-bs-toggle='modal'
    data-product-image-gallery-index='0'
    type='button'
  >
    {%- render 'svg', type: 'icon.close' -%}
  </button>

{% endif %}
