{%- if product and product != blank -%}

  {%- comment -%}

      Accepts:
      - classes: {String} Any combination classes, be it multiple classes or a single class
      - product: {Object} Product Liquid object
      - tag: {String} Conditionally use different element tags where neccessary or needed

      Usage:
      {%- render 'product-title', classes: 'my-great-class another-class', product: product, tag: 'strong' -%}

  {%- endcomment -%}

  {%- liquid

    assign snippet_name = 'product-badge'
    assign snippet_classes = snippet_name

    if badge_classes != blank
      assign snippet_classes = badge_classes
    endif

  -%}

  {%- for tag in product.tags -%}
    {%- if 'Natures' == tag -%}
      <div class='{{ snippet_classes }}'>
        {%- render 'svg', type: 'icon.20%' -%}
      </div>
    {%- endif -%}
  {%- endfor -%}

{%- endif --%}
