{%- if product and product != blank -%}

  {%- comment -%}

      Accepts:
      - classes: {String} Any combination classes, be it multiple classes or a single class
      - product: {Object} Product Liquid object

      Usage:
      {%- render 'product-title', classes: 'my-great-class another-class', product: product, tag: 'strong' -%}

  {%- endcomment -%}

  {%- liquid

    assign template_name = 'main-product'
    assign snippet_name = 'product-description'

    assign classes = classes | default: 'main-product__description'

  -%}

  {%- if product.description != blank -%}
    <div class='{{ classes }} {{ snippet_name }} body-copy--1'>{{ product.description }}</div>
  {%- endif -%}

{%- endif -%}
