{%- if product and product != blank -%}

  {%- comment -%}

      Accepts:
      - classes: {String} Any combination classes, be it multiple classes or a single class
      - product: {Object} Product Liquid object

      Usage:
      {%- render 'product-actions', classes: 'my-great-class another-class', product: product -%}

  {%- endcomment -%}

  {%- liquid

    assign template_name = 'main-product'
    assign snippet_name = 'product-actions'
    assign classes = classes | default: 'main-product__actions'
    assign product_available = product.available | default: false

  -%}

  <div class='{{ classes }} {{ snippet_name }}'>
    <button
      class='{{ snippet_name }}__button-add-to-cart button--secondary js--add-to-cart'
      name='add'
      type='submit'
      {% unless product_available %}disabled{% endunless %}
    >
      <span class='button__title'>{% if product_available %}Add to Bag{% else %}Sold Out!{% endif %}</span>
    </button>
  </div>

{%- endif -%}
