$theme: (
  'theme-name': 'Gift-Shop 2.0',
  'theme-uri': 'https://weareverypolite.com',
  'description': 'Gift-Shop 2.0 Theme',
  'author': 'Very Polite Digital Dept.',
  'author-uri': 'https://weareverypolite.com',
  'version': '1.0.0',
  'license': 'GNU General Public License v2 or later',
  'license-uri': 'URI: https://www.gnu.org/licenses/gpl-2.0.html',
  'tags': 'HTML5, CSS3, Responsive, Mobile Friendly',
  'text-domain': 'very-polite-agency-shopify-2',
);

// ---------------------------------------- AOS Settings
$theme-aos-settings: (
  'travel': 10px,
);

// ---------------------------------------- Body Copy
$theme-body-copy-font-sizes: (
  'lg': (
    'base': 18px,
    'sm': 18px,
    'md': 18px,
    'lg': 20px,
    'xl': 20px,
    'xxl': 20px
  ),
  'md': (
    'base': 16px,
    'sm': 16px,
    'md': 16px,
    'lg': 18px,
    'xl': 18px,
    'xxl': 18px
  ),
  'sm': (
    'base': 14px,
    'sm': 14px,
    'md': 14px,
    'lg': 16px,
    'xl': 16px,
    'xxl': 16px
  ),
  'xs': (
    'base': 12px,
    'sm': 12px,
    'md': 12px,
    'lg': 14px,
    'xl': 14px,
    'xxl': 14px
  ),
  'banner': (
    'base': 10px,
    'sm': 12px,
    'md': 14px,
    'lg': 14px,
    'xl': 14px,
    'xxl': 16px
  )
);

// ---------------------------------------- Border Settings
$theme-border-settings: (
  'radius': 10px,
  'width': 3px,
);

// ---------------------------------------- Button Heights
$theme-button-settings: (
  'font-sizes': (
    'base': 12px,
    'sm': 12px,
    'md': 14px,
    'lg': 14px,
    'xl': 14px,
    'xxl': 16px
  ),
  'heights': (
    'base': 38px,
    'sm': 40px,
    'md': 42px,
    'lg': 42px,
    'xl': 50px,
    'xxl': 58px
  ),
  'widths': (
    'base': 150px,
    'sm': 150px,
    'md': 180px,
    'lg': 360px,
    'xl': 360px,
    'xxl': 400px
  )
);

// ---------------------------------------- Theme Button Font Size
$theme-burger-settings: (
  'width': 30px,
  'height': 14px
);

// ---------------------------------------- Colours
$theme-colours: (
  'black': #111111,
  'blue': #0038f5,
  'red': #dc4117,
  'white': #ffffff,
  'yellow': #ffc700,
);

$theme-colours-rgb: (
  'black': #111111,
  'blue': #0038f5,
  'red': #dc4117,
  'white': #ffffff,
  'yellow': #ffc700,
);

// ---------------------------------------- Drawers
$theme-drawer-settings: (
  'link-font-sizes': (
    'base': 36px,
    'sm': 40px,
    'md': 55px,
    'lg': 32px,
    'xl': 36px,
    'xxl': 40px
  ),
  'widths': (
    'base': 100%,
    'sm': 100%,
    'md': 100%,
    'lg': 50%,
    'xl': 50%,
    'xxl': 40%
  )
);

// ---------------------------------------- Font Families
$theme-font-families: (
  'sans-serif': sans-serif,
  'serif': serif,
  'cursive': cursive,
  'mono': monospace,
  'akkurat-mono-ll': '"Akkurat Mono LL", monospace',
  'not-sorry-serif': '"Not Sorry Serif", serif',
  'sorry-sans': '"Sorry Sans", sans-serif',
);

// ---------------------------------------- Header Heights
$theme-header-heights: (
  'base': 65px,
  'sm': 75px,
  'md': 85px,
  'lg': 65px,
  'xl': 75px,
  'xxl': 85px,
  'total': auto
);

// ---------------------------------------- Heading
$theme-heading-font-sizes: (
  '1': (
    'base': 28px,
    'sm': 34px,
    'md': 40px,
    'lg': 48px,
    'xl': 58px,
    'xxl': 70px
  ),
  '2': (
    'base': 26px,
    'sm': 32px,
    'md': 38px,
    'lg': 44px,
    'xl': 54px,
    'xxl': 66px
  ),
  '3': (
    'base': 22px,
    'sm': 32px,
    'md': 40px,
    'lg': 21px,
    'xl': 25px,
    'xxl': 28px
  ),
  'title': (
    'base': 28px,
    'sm': 34px,
    'md': 40px,
    'lg': 48px,
    'xl': 58px,
    'xxl': 70px
  )
);

// ---------------------------------------- Input Heights
$theme-input-heights: (
  'base': 48px,
  'sm': 48px,
  'md': 50px,
  'lg': 50px,
  'xl': 52px,
  'xxl': 54px
);

// ---------------------------------------- AOS Settings
$theme-layout-settings: (
  'gutter': 20px,
  'container-padding': 20px,
  'breakpoints': (
    'base': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1400px
  ),
  'containers': (
    'base': 100%,
    'sm': 540px,
    'md': 740px,
    'lg': 960px,
    'xl': 1160px,
    'xxl': 1360px
  )
);

// ---------------------------------------- Media Height Sizes
$theme-media-height-sizes: (
  'adapt',
  '950px',
  '850px',
  '750px',
  '650px',
  '550px',
  '450px',
  '350px'
);

// ---------------------------------------- Transition Settings
$theme-transition-settings: (
  'duration': 280ms,
  'opacity': 0.3333
);
