@use "../mixins/border" as *;
@use "../mixins/breakpoint" as *;

.cart-footer {

  &__ctas,
  &__note,
  &__subtotal {
    padding: 20px 0;
  }

  &__additional-checkout-buttons {
    display: none;
    width: 100%;
    .dynamic-checkout__content {
      width: 100%;
      & > div {
        display: flex;
      }
    }
  }

  &__ctas {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-flow: row wrap;
    gap: 22px;
  }

  &__extras {
    width: 100%;
    display: block;
    text-align: right;
    font-size: 12px;
    line-height: 1;
  }

  &__subtotal {
    @include border-solid( 2px, 'inherit', 'top' );
    @include border-solid( 2px, 'inherit', 'bottom' );
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    line-height: 1;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
  }

  &__note {
    @include border-solid( 2px, 'inherit', 'top' );
    display: flex;
    gap: 8px;
    flex-flow: row wrap;
    label {
      line-height: 1;
    }
  }

  @include breakpoint(sm) {

    &__extras {
      font-size: 14px;
    }

    &__note {
      label,
      textarea {
        font-size: 14px;
      }
    }

    &__subtotal {
      font-size: 14px;
    }

  }

  @include breakpoint(md) {

    &__extras {
      font-size: 16px;
    }

    &__note {
      label,
      textarea {
        font-size: 16px;
      }
    }

    &__subtotal {
      font-size: 16px;
    }

  }

  @include breakpoint(lg) {

    &__ctas,
    &__note,
    &__subtotal {
      padding: 26px 0;
    }

    &__ctas {
      gap: 26px;
    }

    &__note {
      display: grid;
      gap: 22px;
      grid-template-columns: 110px auto;
    }

  }

  @include breakpoint(xl) {

    &__note {
      gap: 24px;
      grid-template-columns: 120px auto;
    }

  }

  @include breakpoint(xxl) {

    &__note {
      gap: 26px;
      grid-template-columns: 130px auto;
    }

  }

}
