.list-collections {

  &__content {
    color: inherit;
    text-align: center;
    & + .list-collections__grid {
      margin-top: 25px;
    }
  }

  &__heading {
    & + .list-collections__message {
      margin-top: 22px;
    }
  }

}
