@mixin colour-theme($style:'yellow') {

  @if $style == 'blue' {
    background: rgba(var(--theme-colour-blue), 1);
    color: var(--theme-colour--white);
  }

  @if $style == 'blue-hover' {
    &:focus,
    &:hover {
      background: var(--theme-colour--black);
      color: var(--theme-colour--white);
    }
  }

  @if $style == 'red' {
    background: rgba(var(--theme-colour-red), 1);
    color: var(--theme-colour--white);
  }

  @if $style == 'red-hover' {
    &:focus,
    &:hover {
      background: var(--theme-colour--black);
      color: var(--theme-colour--white);
    }
  }

  @if $style == 'yellow' {
    background: var(--theme-colour--yellow);
    color: var(--theme-colour--black);
  }

  @if $style == 'yellow-hover' {
    &:focus,
    &:hover {
      background: var(--theme-colour--black);
      color: var(--theme-colour--white);
    }
  }

}

@mixin highlight-colour-for( $colour-name: 'white' ) {

  background: rgba( var(--theme-colour-yellow), 1);
  color: rgba( var(--theme-colour-black), 1);

  @if $colour-name == 'arlo-green' {
		background: rgba( var(--theme-colour-yellow), 1);
    color: rgba( var(--theme-colour-black), 1);
	}

  @if $colour-name == 'beige' {
		background: #1A1A1A;
    color: rgba( var(--theme-colour-beige), 1);
	}

  @if $colour-name == 'black' {
		background: rgba( var(--theme-colour-yellow), 1);
    color: rgba( var(--theme-colour-black), 1);
	}

  @if $colour-name == 'red' {
    background:rgba( var(--theme-colour-red), 1);
    color: rgba( var(--theme-colour-black), 1);
  }

	@if $colour-name == 'grey' {
		background: rgba( var(--theme-colour-yellow), 1);
    color: rgba( var(--theme-colour-black), 1);
	}

  @if $colour-name == 'yellow' {
		background: rgba( var(--theme-colour-black), 1);
    color: rgba( var(--theme-colour-yellow), 1);
	}

}
