@mixin akkurate-mono( $weight: normal ) {
  font-family: 'Akkurat Mono', monospace;
  font-style: normal;
  font-weight: $weight;
}

@mixin not-sorry-serif( $weight: bold ) {
  font-family: 'Not Sorry Serif', serif;
  font-style: normal;
  font-weight: $weight;
}

@mixin sorry-sans( $weight: bold ) {
  font-family: 'Sorry Sans', sans-serif;
  font-style: normal;
  font-weight: $weight;
}
