@use "general" as *;

@mixin body-copy($style:primary) {

  color: inherit;
  font-style: normal;

  p, li {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    a {
      transition: border var(--theme-transition-duration);
      border-bottom-width: var(--theme-border-width);
      border-bottom-color: inherit;
      border-bottom-style: solid;
      color: inherit;
      display: inline-block;
      width: auto;
      text-decoration: none;
      outline: none;
      &:focus,
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
        outline: none;
      }
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  // ---------------------------------------- Primary
  @if $style == primary {

    font-family: "Akkurat Mono LL", serif;
    text-transform: none;
    font-size: 1.35rem;
    line-height: 1.3333;

    ol, p, ul {
      margin-bottom: 18px;
    }

    @include breakpoint(sm) {} // min width sm

    @include breakpoint(md) {} // min width md

    @include breakpoint(lg) {

      font-size: 1.6rem;

    } // min width lg

    @include breakpoint(xl) {} // min width xl

    @include breakpoint(xxl) {} // min width xxl

  }

}

