@mixin font-akkurat-mono-ll( $weight: 400 ) {
  font-family: var(--theme-font-family--akkurat-mono-ll);
  font-style: normal;
  font-weight: $weight;
}

@mixin font-not-sorry-serif( $weight: bold ) {
  font-family: var(--theme-font-family--not-sorry-serif);
  font-style: normal;
  font-weight: $weight;
}

@mixin font-sorry-sans( $weight: bold ) {
  font-family: var(--theme-font-family--serif-sorry-sans);
  font-style: normal;
  font-weight: $weight;
}
