$theme: (
  'theme-name': 'Gift-Shop 2.0',
  'theme-uri': 'https://weareverypolite.com',
  'description': 'Gift-Shop 2.0 Theme',
  'author': 'Very Polite Digital Dept.',
  'author-uri': 'https://weareverypolite.com',
  'version': '1.0.0',
  'license': 'GNU General Public License v2 or later',
  'license-uri': 'URI: https://www.gnu.org/licenses/gpl-2.0.html',
  'tags': 'HTML5, CSS3, Responsive, Mobile Friendly',
  'text-domain': 'very-polite-agency-shopify-2',
);

// ---------------------------------------- AOS Settings
$theme-aos-settings: (
  'travel': 10px,
);

// ---------------------------------------- Border Settings
$theme-border-settings: (
  'radius': 4px,
  'width': 2px,
);

// ---------------------------------------- Button Heights
$theme-button-settings: (
  'font-sizes': (
    'base': 12px,
    'sm': 12px,
    'md': 14px,
    'lg': 14px,
    'xl': 14px,
    'xxl': 16px
  ),
  'heights': (
    'base': 38px,
    'sm': 40px,
    'md': 42px,
    'lg': 40px,
    'xl': 42px,
    'xxl': 44px
  ),
  'widths': (
    'base': 150px,
    'sm': 150px,
    'md': 180px,
    'lg': 360px,
    'xl': 360px,
    'xxl': 400px
  )
);

// ---------------------------------------- Theme Button Font Size
$theme-burger-settings: (
  'width': 30px,
  'height': 14px,
  'stroke-width': 3px
);

// ---------------------------------------- Colours
$theme-colours: (
  'black': #111111,
  'blue': #0038f5,
  'red': #dc4117,
  'white': #ffffff,
  'yellow': #ffc700,
);

$theme-colours-rgb: (
  'black': #111111,
  'blue': #0038f5,
  'red': #dc4117,
  'white': #ffffff,
  'yellow': #ffc700,
);

// ---------------------------------------- Font Families
$theme-font-families: (
  'sans-serif': sans-serif,
  'sans-serif-sorry-sans': '"Sorry Sans", sans-serif',
  'serif': serif,
  'serif-not-sorry-serif': '"Not Sorry Serif", serif',
  'cursive': cursive,
  'mono': monospace,
  'mono-akkurat-mono': '"Akkurat Mono LL", monospace'
);

// ---------------------------------------- Font Sizes | Body Copy
$theme-font-sizes-body-copy: (
  'base': 14px,
  'sm': 14px,
  'md': 16px,
  'lg': 12px,
  'xl': 13px,
  'xxl': 14px
);

// ---------------------------------------- Font Sizes | Body Copy
$theme-font-sizes-button: (
  'base': 13px,
  'sm': 14px,
  'md': 15px,
  'lg': 13px,
  'xl': 14px,
  'xxl': 15px
);

// ---------------------------------------- Font Sizes | Heading
$theme-font-sizes-heading: (
  'base': 26px,
  'sm': 28px,
  'md': 30px,
  'lg': 32px,
  'xl': 36px,
  'xxl': 38px
);

// ---------------------------------------- Font Sizes | Title
$theme-font-sizes-title: (
  'base': 45px,
  'sm': 52px,
  'md': 60px,
  'lg': 88px,
  'xl': 108px,
  'xxl': 118px
);

// ---------------------------------------- Header Heights
$theme-header-heights: (
  'base': 65px,
  'sm': 75px,
  'md': 85px,
  'lg': 65px,
  'xl': 75px,
  'xxl': 85px,
  'total': auto
);

// ---------------------------------------- Input Heights
$theme-input-heights: (
  'base': 44px,
  'sm': 46px,
  'md': 48px,
  'lg': 50px,
  'xl': 52px,
  'xxl': 54px
);

// ---------------------------------------- AOS Settings
$theme-layout-settings: (
  'gutter': 20px,
  'container-padding': 20px,
  'breakpoints': (
    'base': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1400px
  ),
  'containers': (
    'base': 100%,
    'sm': 540px,
    'md': 740px,
    'lg': 960px,
    'xl': 1160px,
    'xxl': 1360px
  )
);

// ---------------------------------------- Media Height Sizes
$theme-media-height-sizes: (
  'adapt',
  '950px',
  '850px',
  '750px',
  '650px',
  '550px',
  '450px',
  '350px'
);

// ---------------------------------------- Push Menu Width
$theme-push-menu-settings: (
  'link-font-sizes': (
    'base': 36px,
    'sm': 40px,
    'md': 55px,
    'lg': 32px,
    'xl': 36px,
    'xxl': 40px
  ),
  'widths': (
    'base': 100%,
    'sm': 100%,
    'md': 100%,
    'lg': 50%,
    'xl': 50%,
    'xxl': 40%
  )
);

// ---------------------------------------- Transition Settings
$theme-transition-settings: (
  'duration': 280ms,
  'opacity': 0.3333
);

// ---------------------------------------- Type Scales
$theme-type-sizes: ( 'xl', 'lg', 'md', 'sm', 'xs', 'xxs' );
