@function colour-theme-offset( $colour-name: 'white' ) {

  $offset-colour: var(--theme-colour--black);

  @if $colour-name == 'arlo-green' {
    $offset-colour: var(--theme-colour--white);
  }

  @if $colour-name == 'black' {
    $offset-colour: var(--theme-colour--white);
  }

  @if $colour-name == 'blue' {
    $offset-colour: var(--theme-colour--white);
  }

  @return $offset-colour;

}
