{%- liquid

  assign section_name = 'custom-liquid'
  assign section_classes = section_name
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_delay = 250
  assign aos_delay_increment = 250
  assign aos_id = section_id

  assign section_anchor = section.settings.anchor_id | default: ''
  assign section_container = section.settings.container | default: 'container'
  assign section_custom_liquid = section.settings.custom_liquid | default: ''

-%}

{% if custom_liquid and custom_liquid != blank %}

  {%- style -%}
    {%
      render 'element-styles',
        background: section.settings.background,
        background_image: section.settings.background_image,
        background_image_position_desktop: section.settings.background_image_position_desktop,
        background_image_position_mobile: section.settings.background_image_position_mobile,
        background_image_repeat: section.settings.background_image_repeat,
        background_image_size: section.settings.background_image_size,
        border_bottom: section.settings.border_bottom,
        border_top: section.settings.border_top,
        id: section_id,
        padding_bottom: section.settings.padding_bottom,
        padding_top: section.settings.padding_top
    -%}
  {%- endstyle -%}

  <div class="{{ section_classes }}" id="{{ section_id }}">
    {% render 'bs-container', state: 'open', col: 'col-12', container: container %}
      <div class="{{ section_name }}__main">
        {{- custom_liquid -}}
      </div>
    {% render 'bs-container', state: 'closed', col: 'col-12', container: container %}
  </div>

{% endif %}

{% schema %}
  {
    "name": "Custom Liquid",
    "tag": "section",
    "class": "section section--custom-liquid",
    "settings": [
      {
        "content": "Content",
        "type": "header"
      },
      {
        "label": "Custom Liquid",
        "type": "liquid",
        "id": "custom_liquid"
      },
      {
        "content": "Settings",
        "type": "header"
      },
      {
        "content": "Anchor",
        "type": "header"
      },
      {
        "label": "Anchor ID",
        "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
        "type": "text",
        "id": "anchor_id"
      },
      {
		    "label": "Background",
		    "type": "select",
		    "options": [
          { "label": "Black", "value": "black" },
			    { "label": "White", "value": "white" }
		    ],
		    "default": "white",
		    "id": "background"
		  },
      {
        "label": "Background Image",
        "type": "image_picker",
        "id": "background_image"
      },
      {
        "label": "Background Image Position (Mobile)",
        "type": "select",
        "options": [
          { "label": "Top Left", "value": "top left" },
          { "label": "Top Center", "value": "top center" },
          { "label": "Top Right", "value": "top right" },
          { "label": "Center Left", "value": "center left" },
          { "label": "Center Center", "value": "center center" },
          { "label": "Center Right", "value": "center right" },
          { "label": "Bottom Left", "value": "bottom left" },
          { "label": "Bottom Center", "value": "bottom center" },
          { "label": "Bottom Right", "value": "bottom right" }
        ],
        "default": "center center",
        "id": "background_image_position_mobile"
      },
      {
        "label": "Background Image Position (Desktop)",
        "type": "select",
        "options": [
          { "label": "Top Left", "value": "top left" },
          { "label": "Top Center", "value": "top center" },
          { "label": "Top Right", "value": "top right" },
          { "label": "Center Left", "value": "center left" },
          { "label": "Center Center", "value": "center center" },
          { "label": "Center Right", "value": "center right" },
          { "label": "Bottom Left", "value": "bottom left" },
          { "label": "Bottom Center", "value": "bottom center" },
          { "label": "Bottom Right", "value": "bottom right" }
        ],
        "default": "center center",
        "id": "background_image_position_desktop"
      },
      {
        "label": "Background Image Repeat",
        "type": "select",
        "options": [
          { "label": "No Repeat", "value": "no-repeat" },
          { "label": "Repeat", "value": "repeat" }
        ],
        "default": "repeat",
        "id": "background_image_repeat"
      },
      {
        "label": "Background Image Size",
        "type": "select",
        "options": [
          { "label": "100px", "value": "100px" },
          { "label": "200px", "value": "200px" },
          { "label": "300px", "value": "300px" },
          { "label": "400px", "value": "400px" },
          { "label": "500px", "value": "500px" },
          { "label": "Auto", "value": "auto" },
          { "label": "Contain", "value": "contain" },
          { "label": "Cover", "value": "cover" }
        ],
        "default": "cover",
        "id": "background_image_size"
      },
      {
        "content": "Border",
        "type": "header"
      },
      {
        "label": "Top Border",
        "type": "checkbox",
        "default": false,
        "id": "border_top"
      },
      {
        "label": "Bottom Border",
        "type": "checkbox",
        "default": false,
        "id": "border_bottom"
      },
      {
        "content": "Padding",
        "type": "header"
      },
      {
        "label": "Top Padding",
        "type": "range",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "default": 36,
        "id": "padding_top"
      },
      {
        "label": "Bottom Padding",
        "type": "range",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "default": 36,
        "id": "padding_bottom"
      }
    ],
	  "blocks": [],
    "presets": [
      {
        "name": "Custom Liquid"
      }
    ]
  }
{% endschema %}
