.announcements {

  background: var(--theme--secondary-colour);
  color: var(--theme--primary-colour);

  &__button {
    &-close {
      position: absolute;
    }
  }

  &__item {
    line-height: 1;
    text-align: center;
    width: 100%;
  }

  &__main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &.position--fixed {
    top: 0;
  }

}
