@use "../utils/mixins/general" as *;

.header {

  &__announcements {
    background: rgba(var(--theme-colour-black), 1);
    color: rgba(var(--theme-colour-white), 1);
    .header__container {
      padding: 10px 30px;
    }
    &-button-close {
      position: absolute;
      right: 30px;
    }
    &-item {
      text-align: center;
      width: 100%;
    }
  }

  &__brand {
    display: inline-flex;
    flex-flow: column;
    &-link {
      height: 15px;
      width: auto;
      display: block;
      opacity: 1;
      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
      &:focus,
      &:hover {
        color: inherit;
        opacity: 0.5;
      }
      & + .header__brand-link {
        margin-top: 5px;
      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .scroll-position--scrolled & {}

  .mobile-menu--active & {}

  @include breakpoint(sm) {

    &__brand {
      &-link {
        height: 16px;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__brand {
      flex-flow: row nowrap;
      &-link {
        height: 17px;
        & + .header__brand-link {
          margin-top: 0px;
        }
        &.gift-shop {
          order: 2;
        }
        &.very-polite {
          order: 1;
          margin-right: 10px;
        }
      }
    }

  } // min width md

  @include breakpoint(lg) {

    &__brand {
      &-link {
        height: 20px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__brand {
      &-link {
        height: 22px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__brand {
      &-link {
        height: 24px;
      }
    }

  } // min width xxl

}
