@use "sass:map";
@use "../utils/variables" as *;
@use "../utils/mixins/breakpoint" as *;

$logo-height: (
  "base": 32px,
  "sm": 34px,
  "md": 36px,
  "lg": 32px,
  "xl": 34px,
  "xxl": 36px,
);

.header {
  $announcement-btn-close-size: 12px;

  &__main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &__brand {
    height: map.get($logo-height, "base");
    margin-bottom: -6px;
    position: relative;
    a,
    img,
    svg {
      display: block;
      height: 100%;
      width: auto;
    }
    a {
      color: inherit;
    }
    svg {
      fill: currentColor;
    }
  }

  &__main {
    @each $name, $value in map.get($theme-layout-settings, "breakpoints") {
      @if $name == "base" {
        height: var(--theme-header-height);
      } @else {
        @include breakpoint(#{$name}) {
          height: var(--theme-header-height--#{$name});
        }
      }
    }
  }

  &.position--fixed {
    top: var(--theme-announcement-height--total);
  }

  @include breakpoint(sm) {
    &__brand {
      height: map.get($logo-height, "sm");
      margin-bottom: -7px;
    }
  }

  @include breakpoint(md) {
    &__brand {
      height: map.get($logo-height, "md");
      margin-bottom: -8px;
    }
  }

  @include breakpoint(lg) {
    &__brand {
      height: map.get($logo-height, "lg");
      margin-bottom: -6px;
    }
  }

  @include breakpoint(xl) {
    &__brand {
      height: map.get($logo-height, "xl");
      margin-bottom: -7px;
    }
  }

  @include breakpoint(xxl) {
    &__brand {
      height: map.get($logo-height, "xxl");
      margin-bottom: -8px;
    }
  }
}
