@use 'sass:map';
@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

.header {

  $announcement-btn-close-size: 12px;

  &__main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &__brand {
    display: inline-flex;
    flex-flow: column;
    row-gap: 10px;
    width: 170px;
    &-link {
      height: auto;
      width: auto;
      display: block;
      opacity: 1;
      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
      &:focus,
      &:hover {
        color: inherit;
        opacity: 0.5;
      }
      &.gift-shop {
        width: 100%;
        height: auto;
      }
      &.very-polite {
        width: 85%;
        height: auto;
      }
    }
    .vp-logo {
      fill: var(--theme--secondary-colour);
    }

  }

  &__main {
    @each $name, $value in map.get( $theme-layout-settings, 'breakpoints' ) {
      @if $name == 'base' {
        height: var(--theme-header-height);
      } @else {
        @include breakpoint(#{$name}) {
          height: var(--theme-header-height--#{$name});
        }
      }
    }
  }

  &.position--fixed {
    top: var(--theme-announcement-height--total);
  }

  @include breakpoint(sm) {

    &__brand {
      width: 185px;
    }

  }

  @include breakpoint(md) {

    &__brand {
      flex-flow: row nowrap;
      row-gap: 0;
      column-gap: 14px;
      width: auto;
      align-items: center;
      &-link {
        &.gift-shop,
        &.very-polite {
          width: auto;
        }
        &.gift-shop {
          height: 17px;
          order: 2;
        }
        &.very-polite {
          height: 14px;
          order: 1;
        }
      }
    }

  }

  @include breakpoint(lg) {

    &__brand {
      &-link {
        &.gift-shop {
          height: 20px;
        }
        &.very-polite {
          height: 17px;
        }
      }
    }

  }

  @include breakpoint(xl) {

    &__brand {
      &-link {
        &.gift-shop {
          height: 22px;
        }
        &.very-polite {
          height: 19px;
        }
      }
    }

  }

  @include breakpoint(xxl) {

    &__brand {
      &-link {
        &.gift-shop {
          height: 24px;
        }
        &.very-polite {
          height: 21px;
        }
      }
    }

  }

}
