@use "../utils/variables" as *;
@use "../utils/mixins/body-copy" as *;
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/ui" as *;

.product {

  [data-bs-toggle] {
    cursor: pointer;
  }

  &__badge {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    height: 42px;
    z-index: 10;
    padding: 0;
    svg {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  &__button {
    &-add-to-cart {
      @each $name, $value in $theme-input-heights {
        @if $name == 'base' {
          height: $value;
        } @else {
          @include breakpoint(#{$name}) {
            height: $value;
          }
        }
      }
      font-size: 15px;
      width: 100%;
      max-width: 400px;
    }
    &-modal-trigger {
      top: var(--theme-layout--gutter);
      right: var(--theme-layout--gutter);
      position: absolute;
      z-index: 50;
      &:after,
      &:before {
        background: var(--theme-colour--black);
      }
    }
  }

  &__images {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__info {
    & + .product__info {
      margin-top: 20px;
    }
  }

  &__price {
    font-size: 17px;
    margin-top: 10px;
    & + .product__images {
      margin-top: var(--theme-layout--gutter);
    }
  }

  @include breakpoint(sm) {

    &__price {
      font-size: 27px;
      margin-top: 12px;
    }

  }

  @include breakpoint(md) {

    &__badge {
      top: 18px;
      left: 18px;
      height: 70px;
    }

    &__price {
      font-size: 34px;
      margin-top: 14px;
    }

  }

  @include breakpoint(lg) {

    &__badge {
      top: 15px;
      left: 15px;
      height: 70px;
    }

    &__button {
      &-add-to-cart {
        font-size: 17px;
      }
    }

    &__grid {
      display: grid;
      grid: auto / repeat(4, 1fr);
      gap: 12px;
      &-item {
        grid-column: span 2;
        &:nth-child(3n + 3) {
          grid-column: span 4;
        }
      }
    }

    &__price {
      font-size: 20px;
      margin: 15px 0;
    }

    &__title {
      font-size: 30px;
    }

  }

  @include breakpoint(xl) {

    &__price {
      font-size: 22px;
      margin: 16px 0;
    }

    &__title {
      font-size: 35px;
    }

  }

  @include breakpoint(xxl) {

    &__badge {
      top: 18px;
      left: 18px;
      height: 80px;
    }

    &__button {
      &-add-to-cart {
        font-size: 19px;
      }
    }

    &__price {
      font-size: 22px;
      margin: 18px 0;
    }

    &__title {
      font-size: 40px;
    }

  }

}
