@use "../utils/mixins/general" as *;

.push-menu {

  --push-menu-main-link-size: 36px;
  --push-menu-main-link-size--sm: 40px;
  --push-menu-main-link-size--md: 55px;
  --push-menu-main-link-size--lg: 32px;
  --push-menu-main-link-size--xl: 36px;
  --push-menu-main-link-size--xxl: 40px;

  transform: translate3d(var(--push-menu-width), 0, 0);
  width: var(--theme-push-menu-width);
  background: rgba(var(--theme-colour-black), 1);
  transition: transform 280ms, width 280ms;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 150;

  svg {
    display: block;
    height: 100%;
    width: auto;
    fill: currentColor;
  }

  .navigation {
    &__link {
      color: rgba(var(--theme-colour-yellow), 1);
      &.active,
      &:hover {
        color: rgba(var(--theme-colour-white), 1);
      }
    }
  }

  &__footer,
  &__main {
    padding: 30px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__footer {
    flex-shrink: 0;
    &-cart-summary {
      margin-bottom: 20px;
      &-link {
        font-family: var(--theme-font-family--sans-serif--sorry-sans);
        color: rgba(var(--theme-colour-white), 1);
        font-size: calc(var(--push-menu-main-link-size ) * 0.8);
        &:hover {
          color: rgba(var(--theme-colour-yellow), 1);
        }
      }
    }
    &-navigation {
      gap: 15px;
      grid-template-columns: repeat(2, 140px);
      display: inline-grid;
      width: 100%;
      .navigation {
        &__link {
          font-family: var(--theme-font-family--monospace--akkurat-mono);
          font-size: calc(var(--theme-body-copy) * 0.8);
          font-weight: 400;
          line-height: 1.1;
          text-transform: uppercase;
          display: block;
        }
      }
    }
    &-social {
      display: inline-flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      &-item {
        height: 18px;
        width: auto;
      }
      &-link {
        color: rgba(var(--theme-colour-yellow), 1);
        &:focus,
        &:hover {
          color: rgba(var(--theme-colour-white), 1);
        }
      }
    }
  }

  &__main {
    flex: 1 0 auto;
    padding-bottom: 0;
    &-navigation {
      width: 100%;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: baseline;
      .navigation {
        &__item {
          width: 100%;
          display: block;
          & + .navigation__item {
            margin-top: 6px;
          }
        }
        &__link {
          font-family: var(--theme-font-family--sans-serif--sorry-sans);
          font-size: var(--push-menu-main-link-size);
          &.active,
          &:hover {
            color: rgba(var(--theme-colour-white), 1);
          }
        }
      }
    }
  }

  &__message {
    color: rgba(var(--theme-colour-white), 1);
    margin-top: 30px;
    width: 90%;
    max-width: 400px;
  }

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  @include breakpoint(sm) {

    width: var(--theme-push-menu-width--sm);

    &__footer {
      &-links {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      &-navigation {
        .navigation {
          &__link {
            font-size: calc(var(--theme-body-copy--sm) * 0.8);
          }
        }
      }
    }

    &__menus-extra {
      order: 1;
    }

    &__social {
      order: 2;
      width: auto;
      &-item {
        height: 20px;
        & + .push-menu__social-item {
          margin-left: 22px;
        }
      }
      & + .push-menu__menus-extra  {
        margin-top: 0;
      }
    }

  }

  @include breakpoint(md) {

    width: var(--theme-push-menu-width--md);

    &__footer {
      &-cart-summary {
        &-link {
          font-size: calc(var(--push-menu-main-link-size--md ) * 0.8);
        }
      }
      &-navigation {
        grid-template-columns: repeat(2, 150px);
        .navigation {
          &__link {
            font-size: calc(var(--theme-body-copy--md) * 0.8);
          }
        }
      }
    }

    &__main {
      &-navigation {
        .navigation {
          &__link {
            font-size: var(--push-menu-main-link-size--md);
          }
        }
      }
    }

    &__message {
      width: 69%;
    }

  }

  @include breakpoint(lg) {

    width: var(--theme-push-menu-width--lg);
    transform: translate3d(100%, 0, 0);

    &__footer {
      &-cart-summary {
        &-link {
          font-size: calc(var(--push-menu-main-link-size--lg ) * 0.8);
        }
      }
      &-navigation {
        grid-template-columns: repeat(2, 160px);
        .navigation {
          &__link {
            font-size: calc(var(--theme-body-copy--lg) * 0.8);
          }
        }
      }
    }

    &__main {
      &-navigation {
        .navigation {
          &__link {
            font-size: var(--push-menu-main-link-size--lg);
          }
        }
      }
    }

    &__message {
      width: 80%;
    }

  }

  @include breakpoint(xl) {

    width: var(--theme-push-menu-width--xl);

    &__footer {
      &-cart-summary {
        &-link {
          font-size: calc(var(--push-menu-main-link-size--xl ) * 0.8);
        }
      }
      &-navigation {
        grid-template-columns: repeat(2, 170px);
        .navigation {
          &__link {
            font-size: calc(var(--theme-body-copy--xl) * 0.8);
          }
        }
      }
    }

    &__main {
      &-navigation {
        .navigation {
          &__link {
            font-size: var(--push-menu-main-link-size--xl);
          }
        }
      }
    }

  }

  @include breakpoint(xxl) {

    width: var(--theme-push-menu-width--xxl);

    &__footer {
      &-cart-summary {
        &-link {
          font-size: calc(var(--push-menu-main-link-size--xxl ) * 0.8);
        }
      }
      &-navigation {
        grid-template-columns: repeat(2, 180px);
        .navigation {
          &__link {
            font-size: calc(var(--theme-body-copy--xxl) * 0.8);
          }
        }
      }
    }

    &__main {
      &-navigation {
        .navigation {
          &__link {
            font-size: var(--push-menu-main-link-size--xxl);
          }
        }
      }
    }

  }

}
