@use 'sass:color';
@use 'sass:map';
@use '../utils/variables' as *;
@use "../utils/mixins/body-copy" as *;
@use "../utils/mixins/breakpoint" as *;

.banner {

  @each $name, $value in $theme-colours {
    &--#{$name} {

      $background: $value;
      $colour: map.get( $theme-colours, 'white' );

      @if $name == 'black' {
        $colour: map.get( $theme-colours, 'white' );
      }

      @if $name == 'blue' {
        $colour: map.get( $theme-colours, 'white' );
      }

      @if $name == 'red' {
        $colour: map.get( $theme-colours, 'white' );
      }

      @if $name == 'white' {
        $colour: map.get( $theme-colours, 'black' );
      }

      @if $name == 'yellow' {
        $colour: map.get( $theme-colours, 'black' );
      }

      background: $background;
      color: $colour;

    }
  }

  text-transform: uppercase;
  padding: 10px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__title {
    display: block;
    line-height: 1;
    padding-top: 3px;
  }

  a & {
    color: inherit;
  }

  @include breakpoint(lg) {
    padding: 14px 0;
  }

}
