@use "../utils/mixins/body-copy" as *;
@use "../utils/mixins/general" as *;

.banner {

  @include body-copy(banner);
  text-transform: uppercase;
  padding: 10px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__title {
    display: block;
  }

  @include breakpoint(lg) {
    padding: 14px 0;
  }

}
