@use "../utils/mixins/breakpoint" as *;

.burger {

  --burger-width: 30px;
  --burger-height: 14px;
  --burger-stroke-width: 3px;
  --burger-stroke-offset: calc( ( var(--burger-height) - var(--burger-stroke-width) ) * 0.5 );

  height: var(--theme-header-height-total);
  position: fixed;
  z-index: 200;
  right: 20px;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;

  &__icon {

    background: transparent;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    outline: none;
    border: none;

    &:hover, &:focus {
      outline: none;
      border: none;
    }

  }

  &__icon-box {
    width: var(--burger-width);
    height: var(--burger-height);
    display: block;
    position: relative;
  }

  &__icon-stroke {
    transition: transform var(--theme-transition--duration),
      translate var(--theme-transition--duration),
      rotate var(--theme-transition--duration),
      background var(--theme-transition--duration),
      color var(--theme-transition--duration),
      opacity var(--theme-transition--duration);
    background: var(--theme-colour--black);
    width: var(--burger-width);
    height: var(--burger-stroke-width);
    display: block;
    position: absolute;

    &.top {
      top: 0;
    }

    &.middle {
      display: none;
      top: 50%;
      margin-top: -2px;
    }

    &.bottom {
      bottom: 0;
    }

  }

  &.is-active {
    .burger__icon-stroke {
      background: var(--theme-colour--white);
      &.top {
        transform: translate3d( 0, calc( 1 * var(--burger-stroke-offset) ), 0 ) rotate( -45deg );
      }
      &.bottom {
        transform: translate3d( 0, calc( -1 * var(--burger-stroke-offset) ), 0 ) rotate( 45deg );
      }
    }
  }

}
