@use 'sass:math';
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/button" as *;
@use "../utils/mixins/ui" as *;

.button {

  @extend %ui-base;
  @extend %ui-transition;

  &--primary,
  &--secondary,
  &--stepper,
  &--open,
  &--close,
  &--remove-cart-line-item {
    @extend .button;
  }

  &--open,
  &--close,
  &--remove-cart-line-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:after,
    &:before {
      background: currentcolor;
      height: 2px;
      content: '';
      display: block;
      position: absolute;
    }
  }

  &--open,
  &--close {
    width: 24px;
    height: 24px;
  }

  &--close,
  &--remove-cart-line-item {
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
  }

  &--primary {
    @include button-style( 'primary' );
  }

  &--secondary {
    @include button-style( 'secondary' );
  }

  &--stepper {
    .button__icon {
      height: 8px;
      width: auto;
      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
    }
    &.decrease {
      transform: rotate(180deg);
    }
    &:hover {
      opacity: 0.5;
    }
  }

  &--open {
    &:after,
    &:before {
      width: 100%;
    }
    &:after {
      transform: rotate(90deg);
    }
  }

  &--close {
    &:after,
    &:before {
      width: math.hypot(24px, 24px);
    }
  }

  &--remove-cart-line-item {
    opacity: 0.3333;
    width: 12px;
    height: 12px;
    &:after,
    &:before {
      width: math.hypot(12px, 12px);
    }
    &:hover {
      opacity: 1;
    }
  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

  @include breakpoint(lg) {
    &--remove-cart-line-item {
      opacity: 0.2;
      width: 15px;
      height: 15px;
      &:after,
      &:before {
        width: math.hypot(15px, 15px);
      }
    }
  }

}
