@use "../utils/mixins/breakpoint" as *;

.cart-line-item {

  display: grid;
  width: 100%;
  grid-template-columns: 90px auto;
  gap: 16px;

  &__title,
  &__options,
  &__price,
  &__stepper {
    width: 100%;
    display: block;
  }

  &__options,
  &__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 100%;
    height: auto;
    &-link {
      height: 100%;
      width: 100%;
      display: block;
      &:hover {
        opacity: 0.5;
      }
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__stepper {
    margin-top: auto;
  }

  &__title {
    font-size: 20px;
    &-link {
      &:hover {
        color: inherit;
        opacity: 0.6666;
      }
    }
  }

  @include breakpoint(sm) {

    grid-template-columns: 92px auto;
    gap: 18px;

    &__title {
      font-size: 22px;
    }

  }

  @include breakpoint(md) {

    grid-template-columns: 100px auto;
    gap: 20px;

    &__title {
      font-size: 30px;
    }

  }

  @include breakpoint(lg) {

    grid-template-columns: 110px auto;
    gap: 22px;

    &__title {
      font-size: 32px;
    }

  }

  @include breakpoint(xl) {

    grid-template-columns: 120px auto;
    gap: 24px;

    &__title {
      font-size: 34px;
    }

  }

  @include breakpoint(xxl) {

    grid-template-columns: 130px auto;
    gap: 26px;

    &__title {
      font-size: 36px;
    }

  }

}
