@use "../mixins/breakpoint" as *;
@use "../mixins/font" as *;

.cart-line-item {

  display: grid;
  width: 100%;
  grid-template-columns: 90px auto;
  gap: 16px;
  position: relative;

  &__title,
  &__options,
  &__price {
    width: 100%;
    display: block;
  }

  &__options,
  &__price {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    margin-top: 8px;
  }

  &__button {
    &-remove {
      position: absolute;
      right: 0;
    }
  }

  &__content {
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
  }

  &__error-message {
    @include font-sorry-sans(700);
    padding: var(--theme-layout--gutter);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    & > * {
      position: relative;
      z-index: 1;
    }
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: var(--theme-colour--yellow);
      opacity: 0.9;
      z-index: 0;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    &-link {
      height: 100%;
      width: 100%;
      display: block;
      &:hover {
        opacity: 0.5;
      }
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__stepper {
    margin-top: auto;
  }

  &__title {
    font-size: 18px;
    &-link {
      &:hover {
        color: inherit;
        opacity: 0.6666;
      }
    }
  }

  @include breakpoint(sm) {

    grid-template-columns: 100px auto;
    gap: 18px;

    &__options,
    &__price {
      font-size: 14px;
      margin-top: 10px;
    }

    &__title {
      font-size: 22px;
    }

  }

  @include breakpoint(md) {

    grid-template-columns: 120px auto;
    gap: 20px;

    &__options,
    &__price {
      font-size: 16px;
      margin-top: 12px;
    }

    &__title {
      font-size: 32px;
    }

  }

  @include breakpoint(lg) {

    grid-template-columns: 110px auto;
    gap: 22px;

    &__info,
    &__price,
    &__stepper {
      align-self: center;
    }

    &__content {
      width: 100%;
      display: grid;
      grid: auto/repeat(10, 1fr);
      gap: 12px;
    }

    &__info {
      grid-column: span 6;
      order: 1;
    }

    &__stepper {
      grid-column: span 2;
      order: 2;
      margin: 0 0 0 auto;
    }

    &__price {
      grid-column: span 2;
      order: 3;
      text-align: right;
      margin: 0;
    }

    &__title {
      font-size: 28px;
    }

  }

  @include breakpoint(xl) {

    grid-template-columns: 120px auto;
    gap: 24px;

    &__title {
      font-size: 32px;
    }

  }

  @include breakpoint(xxl) {

    grid-template-columns: 130px auto;
    gap: 26px;

    &__title {
      font-size: 34px;
    }

  }

}
