@use "../utils/mixins/general" as *;

.content {

  padding: calc( 1.75 * var(--bs-gutter-width) );
  display: inline-flex;
  flex-flow: column wrap;

  &--stack-mobile {
    position: relative;
    height: auto;
    top: unset;
    left: unset;
  }

  &--x {
    &-left {
      align-items: flex-start;
      text-align: left;
    }
    &-center {
      align-items: center;
      text-align: center;
    }
    &-right {
      align-items: flex-end;
      text-align: right;
    }
  }

  &--y {
    &-top {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-bottom {
      justify-content: flex-end;
    }
  }

  @include breakpoint(lg) {

    padding: calc( 2.5 * var(--bs-gutter-width) );

    &--stack-mobile {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
    }

  }

  @include breakpoint(xxl) {

    padding: calc( 3.0 * var(--bs-gutter-width) );

  }

}
