@use '../utils/mixins/breakpoint' as *;

.grid {

  display: grid;
  width: 100%;
  gap: 12px;
  grid-template-columns: 1fr 1fr;

  @for $i from 1 through 100 {
    &--gap-#{$i} {
      gap: $i * 1px;
    }
  }

  @include breakpoint(lg) {

    &--three-column {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }

}
