@use '../utils/mixins/general' as *;

.grid {

  display: grid;
  width: 100%;
  gap: 12px;
  grid-template-columns: 1fr 1fr;

  @include breakpoint(lg) {

    &--three-column {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }

}
