@use "../utils/mixins/ui" as *;

.link {

  @extend %ui-base;
  @extend %ui-transition;

  &--button {
    &-primary,
    &-secondary {
      .link__title {
        margin-bottom: -3px;
      }
    }
  }

  &__content {
    width: 100%;
    height: auto;
  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

}
