@use "../variables" as *;
@use "../mixins/breakpoint" as *;

.media {

  width: 100%;

  &--height-mobile {
    @each $size in $theme-media-height-sizes {
      &-#{$size} {
        @if $size == 'adapt' {
          height: auto;
          img {
            height: auto;
            object-fit: initial;
            font-style: italic
          }
        } @else {
          height: #{$size};
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  @include breakpoint(lg) {

    &--height-desktop {
      @each $size in $theme-media-height-sizes {
        &-#{$size} {
          @if $size == 'adapt' {
            height: auto;
            img {
              height: auto;
              object-fit: initial;
            }
          } @else {
            height: #{$size};
            img {
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

  }

}
