@use "../utils/mixins/breakpoint" as *;

.product-image-gallery-grid {

  @include breakpoint(lg) {
    display: grid;
    grid: auto / repeat(4, 1fr);
    gap: 12px;
    &__item {
      grid-column: span 2;
      &:nth-child(3n + 3) {
        grid-column: span 4;
      }
    }
  }

}
