@use "../utils/mixins/breakpoint" as *;

.product-options {

  &__list {
    display: flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  @include breakpoint(md) {
    &__list {
      gap: 12px;
    }
  }

  @include breakpoint(lg) {
    &__list {
      gap: 14px;
    }
  }

  @include breakpoint(xl) {
    &__list {
      gap: 15px;
    }
  }

  @include breakpoint(xxl) {
    &__list {
      gap: 16px;
    }
  }

}
