@use "../utils/mixins/breakpoint" as *;

.product-actions {

  &__button-add-to-cart {
    height: var(--theme-input-height);
    width: 100%;
    max-width: 300;
  }

  @include breakpoint(lg) {

    &__button-add-to-cart {
      height: var(--theme-input-height--lg);
    }

  }

  @include breakpoint(xxl) {

    &__button-add-to-cart {
      height: var(--theme-input-height--xxl);
    }

  }

}
