@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/font" as *;

.radio {

  &__input {
    display: none;
    &:checked {
      & + .radio__item {
        background: var(--theme-colour--black);
        color: var(--theme-colour--white);
      }
    }
    &[disabled] {
      & + .radio__item {
        cursor: not-allowed;
        &:after {
          content: '';
          width: 2px;
          background: var(--theme-colour--black);
          position: absolute;
          transform-origin: center center;
          height: calc( var(--theme-radio-height) + 30px );
          transform: rotate(45deg);
        }
      }
    }
    &:not([disabled]) {
      & + .radio__item {
        cursor: pointer;
        &:hover {
          background: var(--theme-colour--yellow);
          color: var(--theme-colour--black);
        }
      }
    }
  }

  &__item {
    @include border-solid( var(--theme-border-width), 'black' );
    @include font-akkurate-mono();
    height: var(--theme-radio-height);
    width: var(--theme-radio-height);
    color: #111;
    transition: all .28s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  &__title {
    font-size: 15px;
    display: block;
    margin-bottom: -4px;
  }

  @include breakpoint(lg) {

    &__input {
      &[disabled] {
        & + .radio__item {
          &:after {
            height: calc( var(--theme-radio-height--lg) + 30px );
          }
        }
      }
    }

    &__item {
      height: var(--theme-radio-height--lg);
      width: var(--theme-radio-height--lg);
    }

    &__title {
      font-size: 17px;
    }

  }

  @include breakpoint(xxl) {

    &__input {
      &[disabled] {
        & + .radio__item {
          &:after {
            height: calc( var(--theme-radio-height--xxl) + 30px );
          }
        }
      }
    }

    &__item {
      height: var(--theme-radio-height--xxl);
      width: var(--theme-radio-height--xxl);
    }

    &__title {
      font-size: 19px;
    }

  }

}
