@use 'sass:math';
@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/button" as *;
@use "../utils/mixins/ui" as *;

.textarea {

  @extend %ui-base;
  @extend %ui-transition;
  width: 100%;

  &--primary,
  &--secondary {
    @extend .textarea;
  }

  &--primary {
    @include border-solid( 2px, 'inherit' );
    line-height: 1.35;
    padding: 12px;
  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

}
