@use "../utils/mixins/general" as *;

.cart-notification {

  border: 2px solid rgba(var(--theme-colour-black), 1);
  background: rgba(var(--theme-colour-white), 1);
  top: 0;
  position: fixed;
  right: 15px;
  z-index: 100;
  border-radius: 10px;
  display: block;
  opacity: 0;

  &__heading,
  &__media {
    margin-bottom: 12px;
  }

  &__cta {
    margin-top: 16px;
    &-link {
      border-bottom: 1px solid;
      &:focus,
      &:hover {
        color: inherit;
        border-bottom: 1px solid transparent;
      }
    }
  }

  &__details {
    & + .cart-notification__details {
      &:before {
        content: "•";
        display: inline-flex;
        margin: 0 10px;
      }
    }
  }

  &__heading {
    display: block;
  }

  &__main {
    padding: 18px;
    width: 200px;
    text-align: center;
  }

  &__media {
    width: 100%;
    height: auto;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__product {
    &-info {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    &-title {
      font-family: "Sorry Sans", sans-serif;
      font-size: 16px;
      & + .cart-notification__product-info {
        margin-top: 20px;
      }
    }
  }

  &__triangle {
    display: block;
    width: auto;
    height: 18px;
    position: absolute;
    top: -18px;
    right: 11px;
    img, svg {
      height: 100%;
      width: auto;
      display: block;
    }
  }

  @include breakpoint(md) {

    &__main {
      width: 210px;
    }

  }

  @include breakpoint(lg) {

    &__main {
      padding: 20px;
      width: 220px;
    }

    &__product {
      &-title {
        font-size: 18px;
      }
    }

  }

  @include breakpoint(xl) {

    &__main {
      padding: 22px;
      width: 240px;
    }

    &__product {
      &-title {
        font-size: 19px;
      }
    }

  }

  @include breakpoint(xxl) {

    &__main {
      padding: 24px;
      width: 260px;
    }

    &__product {
      &-title {
        font-size: 20px;
      }
    }

  }

}
